.u-section-1 {
  background-image: url("images/cx-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 748px;
}

.u-section-1 .u-image-1 {
  width: 376px;
  height: 376px;
  background-image: url("images/100597288-0.jpeg");
  background-position: 50% 50%;
  margin: 85px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  margin: 60px 281px 0;
}

section.u-image, .u-sheet.u-image, .u-group.u-image, .u-layout-cell.u-image {
    overflow: visible;
}

.u-align-center {
    text-align: center;
}

.u-image, .u-background-effect-image, .u-video-poster {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.u-body {
    font-family: 'Open Sans',sans-serif;
}

.u-body {
    font-size: 1rem;
    line-height: 1.6;
}

.u-clearfix:after, .u-clearfix:before {
    content: '';
    display: table;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.u-clearfix:after, .u-clearfix:before {
    content: '';
    display: table;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
    text-align: center;
}

div {
  color: white;
}

a {
  color: white;
}
#footer-site{
  padding-bottom: 55px;
  padding-top: 55px;
  background-color: #010114;
  text-align: center;
}


.u-section-1 .u-text-2 {
  width: 543px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 181px;
    margin-right: 181px;
    color: white;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 71px;
    margin-right: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: 80px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
    font-size: 1.5rem;
    text-align: center;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}